{{ define "main" }}
<div>
  <header class="section-header">
    <h1 class="section-title">{{ .Title }}</h1>
    <p class="section-description">
      {{ len .Pages }} {{ if eq (len .Pages) 1 }}post{{ else }}posts{{ end }} tagged with this
    </p>
  </header>

  <div class="post-card-list">
    {{ range .Pages.ByDate.Reverse }}
    <a href="{{ .RelPermalink }}" class="post-card">
      <span class="post-card-title">{{ .Title }}</span>
      <time class="post-card-date">{{ .Date.Format "Jan 2, 2006" }}</time>
    </a>
    {{ end }}
  </div>
</div>
{{ end }}
